---
- name: Install required packages for adding PPA
  apt:
    name:
      - software-properties-common
      - apt-transport-https
      - lsb-release
      - ca-certificates
      - gnupg
    state: present

- name: Add PHP PPA repository (ondrej/php)
  ansible.builtin.apt_repository:
    repo: ppa:ondrej/php
    update_cache: yes
    
- name: Install PHP and required extensions
  apt:
    name:
      - php{{ php_version }}
      - php{{ php_version }}-mysql
      - php{{ php_version }}-curl
      - php{{ php_version }}-gd
      - php{{ php_version }}-mbstring
      - php{{ php_version }}-xml
      - php{{ php_version }}-zip
      - libapache2-mod-php{{ php_version }}
    state: present
    update_cache: yes